.modal-content{
    display: block;
    width: 1600px !important;
    .modal-body{
     
        .form-patient{
    
            background-color: aqua;
            .tbl-header{
             
                
                .table-patient{
        
                    .table-patient{
                        .tr-patient{
        
                        }
                    }
        
                }
            }
        }
    }
    
    


}

